<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <form action="#" th:action="@{/advert/create}" th:object="${advert}" th:fragment="form" method="POST">
      <!-- Title-->
      <div class="form-group">
        <label th:name="*{title}">Title</label>
        <input class="form-control" type="text" th:field="*{title}">
        <div class="alert alert-danger" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></div>
      </div>
      <!-- Description -->
      <div class="form-group">
        <label th:name="*{description}">Description</label>
        <textarea class="form-control" type="text" th:field="*{description}">
        </textarea>
        <div class="alert alert-danger" th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></div>
      </div>
      <!-- Skills -->
      <div class="form-group">
        <label th:name="*{skillId}">Skill</label>
        <select class="form-control" th:field="*{skillId}">
          <option value="0">Please select a Skill</option>
          <option th:each="skill: ${skills}" th:value="${skill.id}" th:text="${skill.name}"></option>
        </select>
      </div>
      <!-- Types -->
      <div class="form-group">
        <label th:name="*{typeId}">Type</label>
        <select class="form-control" th:field="*{typeId}">
          <option value="0">Please select a Type</option>
          <option th:each="type: ${types}" th:value="${type.id}" th:text="${type.name}"></option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </body>
</html>



